<p>
<span style="float: right;">
    [
        <a href="/calendar-events/{{ calendar_event.id }}/edit" title="edit">e</a> |
    {% if calendar_event.archived %}
        <a href="/calendar-events/{{ calendar_event.id }}/unarchive" title="unarchive">u</a> |
        <a href="/calendar-events/{{ calendar_event.id }}/delete" title="delete">x</a>
    {% else %}
        <a href="/calendar-events/{{ calendar_event.id }}/archive" title="archive">a</a>
    {% endif %}
    ]
            </span>
    <strong>
        {% if calendar_event.all_day %}
            All day
        {% else %}
            {{ calendar_event.to_start_ts|format_dt("%H:%M") }} - {{ calendar_event.to_finish_ts|format_dt("%H:%M") }}
        {% endif %}
    </strong>
    {{ calendar_event.title }}
</p>