<div>
    {% if dated_calendar_events %}
        <h2>Calendar events</h2>
        {% for dt, calendar_events in dated_calendar_events.items() %}
            <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
            {% for calendar_event in calendar_events %}
                {% include "calendar-events/calendar-event.html" %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No events.</p>
    {% endif %}
</div>