<div>
    {% if dated_inbox_entries %}
        <h2>Inbox entries</h2>
        {% for dt, inbox_entries in dated_inbox_entries.items() %}
            <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
            {% for inbox_entry in inbox_entries %}
                {% include "inbox-entries/inbox-entry.html" %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No entries.</p>
    {% endif %}
</div>