<form action="/inbox-entries/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.body_field(label="Inbox Entry:", placeholder="Put anything here. Write task: to make a task.", value=inbox_entry_value) }}

    {% if ctx.user_settings.tasks_enabled %}
        | <a href="?inbox_entry_value=task:" onclick="setInboxEntry('task: ');return false;">task</a>
    {% endif %}
    {% if ctx.user_settings.calendar_events_enabled %}
        | <a href="?inbox_entry_value=event:" onclick="setInboxEntry('event: ');return false;">event</a>
    {% endif %}
    <button style="float:right;">submit</button>
</form>