<div>
    {% if metrics %}
        <h2>Metrics</h2>
        {% for metric in metrics %}
            {% include "metrics/metric.html" %}
        {% endfor %}
    {% else %}
        <p>No metrics.</p>
    {% endif %}
</div>