<form action="/metrics/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.title_field(label="Metric:") }}
    <br><br>
    {{ input_macros.input_field(name="filter_by", required=True, label="Filter:") }}
    {{ input_macros.select_field(name="aggregate_func", label="Aggregate by", options=aggregate_funcs) }}
    {{ input_macros.select_field(name="aggregate_by", label="of", options=aggregate_bys) }}<br>
    <br>
    <button style="float: right;">submit</button>
</form>