<form action="/projects/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.title_field(label="Project:") }}
    <br>
    <br>
    <button style="float: right;">submit</button>
</form>