<div>
    {% if instances %}
        <h2>Projects</h2>
        {% for project in instances %}
            {% include "projects/project.html" %}
        {% endfor %}
    {% else %}
        <p>No projects.</p>
    {% endif %}
</div>