<form action="/tasks/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.title_field(label="Task:") }}
    <br>
    {% if ctx.user_settings.tasks_start_ts_enabled %}
        {{ input_macros.datetime_field(name="to_start_ts", label="start:") }}
    {% endif %}
    {% if ctx.user_settings.tasks_due_ts_enabled %}
        {{ input_macros.datetime_field(name="to_finish_ts", label="due:") }}
    {% endif %}
    <br>
    {% if ctx.user_settings.tasks_projects_enabled %}
        <p>
            {{ input_macros.multiselect_field(name="project_id", label="projects:", options=projects) }}
            <a href="/projects">manage projects</a>
        </p>
    {% endif %}
    {% if ctx.user_settings.tasks_labels_enabled %}
        <p>
            {{ input_macros.multiselect_field(name="label_id", label="labels:", options=contexts) }}
            <a href="/labels">manage labels</a>
        </p>
    {% endif %}
    {% if ctx.user_settings.tasks_contexts_enabled %}
        <p>
            {{ input_macros.multiselect_field(name="context_id", label="contexts:", options=contexts) }}
            <a href="/contexts">manage contexts</a>
        </p>
    {% endif %}
    <button style="float: right;">submit</button>
</form>