<div>
    {% if done_tasks or not_done_tasks %}
        <h2>Tasks</h2>
        {% for task in not_done_tasks %}
            {% include "tasks/task.html" %}
        {% endfor %}
        {% for task in done_tasks %}
            {% include "tasks/task.html" %}
        {% endfor %}
    {% else %}
        <p>No tasks.</p>
    {% endif %}
</div>