<div>
    {% if trackers %}
        <h2>Trackers</h2>
        {% for tracker in trackers %}
            {% include "trackers/tracker.html" %}
        {% endfor %}
    {% else %}
        <p>No trackers.</p>
    {% endif %}
</div>