<form action="/tracker-sessions/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.title_field(label="Tracker Value:") }}
    <br><br>
    {{ input_macros.select_field(name="tracker_id", label="Tracker:", options=trackers) }}<br><br>
    {{ input_macros.datetime_field(name="started_ts", label="start:", default_ts=time_ago) }}
    {{ input_macros.datetime_field(name="finished_ts", label="finish:", default_ts=now) }}<br><br>
    {{ input_macros.input_field(name="metric_1_v", label="metric 1:") }}
    {{ input_macros.input_field(name="metric_2_v", label="metric 2:") }}<br>
    {{ input_macros.input_field(name="metric_3_v", label="metric 3:") }}<br>
    <br>
    <button style="float: right;">submit</button>
</form>