<form action="/trackers/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ input_macros.title_field(label="Tracker:") }}
    <br><br>
    {{ input_macros.input_field(name="thing_k", required=True, label="Thing to track:") }}<br>
    {{ input_macros.input_field(name="metric_1_k", label="Metric 1:") }}
    {{ input_macros.select_field(name="metric_1_t", options=metric_types) }}<br>
    {{ input_macros.input_field(name="metric_2_k", label="Metric 2:") }}
    {{ input_macros.select_field(name="metric_2_t", options=metric_types) }}<br>
    {{ input_macros.input_field(name="metric_3_k", label="Metric 3:") }}
    {{ input_macros.select_field(name="metric_3_t", options=metric_types) }}<br>
    <br>
    <button style="float: right;">submit</button>
</form>