<div>
    {% if tracker_sessions %}
        <h2>Tracker Sessions</h2>
        {% for tracker_session in tracker_sessions %}
            {% include "tracker-sessions/tracker-session.html" %}
        {% endfor %}
    {% else %}
        <p>No trackers sessions.</p>
    {% endif %}
</div>