<div style="vertical-align: top; margin-bottom: 10px;">
    <form action="/tasks/{{ task.id }}/done" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="is_done" value="{{ not task.is_done }}"/>
        <div class="task">
            <span style="float: right;">
                [
                <a href="/tasks/{{ task.id }}/edit" title="edit">e</a> |
                {% if task.archived %}
                    <a href="/tasks/{{ task.id }}/unarchive" title="unarchive">u</a> |
                    <a href="/tasks/{{ task.id }}/delete" title="delete">x</a>
                {% else %}
                    <a href="/tasks/{{ task.id }}/archive" title="archive">a</a>
                {% endif %}
                ]
            </span>
            <button type="submit" class="checkbox {% if task.is_done %}checked{% endif %}" title="done">&#x2713;</button>
            <label>
                {% if task.is_done %}<del>{% endif %}
                {{ task.title }}
                {% if task.is_done %}</del>{% endif %}
            </label>
            <br>
            {% if task.project %}
                <small>{{ task.project.name }}</small> |
            {% endif %}
            {% if task.task_labels %}

                {% for task_label in task.task_labels %}
                    <small style="border: 1px solid #bbb; padding: 1px; border-radius: 2px;">
                        {{ task_label.label.name }}
                    </small>
                {% endfor %}

            {% endif %}
        </div>
    </form>
</div>