{% extends "layout.html" %}
{% block content %}
<form action="/tasks/{{ task.id }}/edit" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="task-title">Task: </label>
    <a href="/tasks/{{ task.id }}/delete">x</a>
    <input autofocus type="text" id="task-title" name="title" class="main-input"
           placeholder="your thing" minlength=1 required
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
           value="{{ task.title }}"
    />
    <textarea id="task-entry-body" name="body" rows="12" class="main-input"
              placeholder="more description"
              onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
    >{{ task.body if task.body else ''}}</textarea>
    <button>submit</button>
</form>
{% endblock %}
