{% macro title_field(name="title", label="", placeholder="", title="", required=True, autofocus=True, submit_on_enter=True, autocomplete=False, value="") %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    <input {% if autofocus %}autofocus{% endif %}
           type="text" name="{{ name }}" class="main-input"
           {% if required %}minlength=1 required{% endif %} title="{{ title }}" placeholder="{{ placeholder }}"
            {% if submit_on_enter %}
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
            {% endif %}
            {% if not autocomplete %}
                autocomplete="off"
           {% endif %}
           value="{% if value %}{{ value }}{% endif %}"
    />
{% endmacro %}

{% macro input_field(name, label="", placeholder="", title="", required=False, autofocus=False, submit_on_enter=False, autocomplete=False, value="") %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    <input {% if autofocus %}autofocus{% endif %}
           type="text" name="{{ name }}"
           {% if required %}minlength=1 required{% endif %} title="{{ title }}" placeholder="{{ placeholder }}"
            {% if submit_on_enter %}
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
            {% endif %}
            {% if not autocomplete %}
                autocomplete="off"
           {% endif %}
           value="{% if value %}{{ value }}{% endif %}"
    />
{% endmacro %}

{% macro body_field(name="body", label="", placeholder="", title="", required=True, autofocus=True, submit_on_enter=True, value="") %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    <textarea {% if autofocus %}autofocus{% endif %}
              type="text" name="{{ name }}" class="main-input"
              {% if required %}minlength=1 required{% endif %} title="{{ title }}" placeholder="{{ placeholder }}"
            {% if submit_on_enter %}
              onkeydown="if (event.keyCode == 13 && !event.ctrlKey && !event.shiftKey ) { this.form.submit(); return false; }"
            {% endif %}
    >{% if value %}{{ value }}{% endif %}</textarea>
{% endmacro %}


{% macro datetime_field(name, label="", default_ts=None) %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    <input type="date" name="{{ name }}_date"
            {% if default_ts %}
           value="{{ default_ts|to_user_tz|format_dt("%Y-%m-%d") }}"
            {% endif %}
    />
    <input type="time" name="{{ name }}_time"
            {% if default_ts %}
           value="{{ default_ts|to_user_tz|format_dt("%H:%M") }}"
            {% endif %}
    />
{% endmacro %}

{% macro select_field(name, label="", options=[]) %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    {% if options %}
        <select name="{{ name }}">
            {% for option in options %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endmacro %}

{% macro multiselect_field(name, label="", options=[]) %}
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
    {% if options %}
        <select name="{{ name }}" multiple>
            {% for option in options %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endmacro %}


{% macro checkbox_field(name, label="", checked=False) %}
    <input type="checkbox" name="{{ name }}"
           {% if checked %}checked="checked"{% endif %}
           title="toggle {{ name }}"/>
    {% if label %}
        <label>{{ label }}</label>
    {% endif %}
{% endmacro %}
