{% if current_user.is_authenticated %}
    <a href="/">Home</a>
    {% if ctx and ctx.user_settings %}
        {% if ctx.user_settings.tasks_enabled %}
            | <a href="/tasks">Tasks</a>
        {% endif %}
        {% if ctx.user_settings.calendar_events_enabled %}
            | <a href="/calendar-events">Events</a>
        {% endif %}
        {% if ctx.user_settings.trackers_enabled %}
            | <a href="/trackers">Trackers</a>
            | <a href="/tracker-sessions">Tracker Sessions</a>
            | <a href="/metrics">Metrics</a>
        {% endif %}
        {% if ctx.user_settings.notes_enabled %}
            | <a href="/notes">Notes</a>
        {% endif %}
        {% if ctx.user_settings.journal_enabled %}
            | <a href="/journal">Journal</a>
        {% endif %}
    {% endif %}
    <span class="right-nav">
      <a href="/archive">Archive</a>|
      <a href="/settings">Settings</a> |
      <a href="/logout">Log out</a>
      <form action="/search" class="search-form">
        <input type=text name="q" value="{{ q }}"/>
        <button>search</button>
      </form>
    </span>
{% else %}
    <a href="/">Home</a>|
    After you register and if you want: Inbox | Tasks | Events | Reminders | Activities | Trackers | Goals | Notes | Journal
    <span class="right-nav">
          <a href="/login">Log in</a> |
          <a href="/register">Register</a>
      </span>
{% endif %}