{% extends "layout.html" %}
{% block content %}
    {% if not tasks %}
        <p>No tasks for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Tasks</h2>
        {% for task in tasks %}
            {% include "tasks/task.html" %}
        {% endfor %}
    {% endif %}
{% endblock %}
