{% extends "layout.html" %}
{% import "_input_macros.html" as input_macros %}

{% block content %}
    <h2>Settings</h2>
    <form action="/settings" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ input_macros.checkbox_field(name="inbox_entries_enabled", label="Enable Inbox Entries", checked=settings.inbox_entries_enabled) }}
        <br>
        {{ input_macros.checkbox_field(name="tasks_enabled", label="Enable Tasks", checked=settings.tasks_enabled) }}
        <br>
        {% if settings.tasks_enabled %}
            <blockquote>
                {{ input_macros.checkbox_field(name="tasks_projects_enabled", label="Enable Tasks Projects", checked=settings.tasks_projects_enabled) }}
                <br>
                {{ input_macros.checkbox_field(name="tasks_contexts_enabled", label="Enable Tasks Contexts", checked=settings.tasks_contexts_enabled) }}
                <br>
                {{ input_macros.checkbox_field(name="tasks_labels_enabled", label="Enable Tasks Labels", checked=settings.tasks_labels_enabled) }}
                <br>
                {{ input_macros.checkbox_field(name="tasks_start_ts_enabled", label="Enable Tasks Start Time", checked=settings.tasks_start_ts_enabled) }}
                <br>
                {{ input_macros.checkbox_field(name="tasks_due_ts_enabled", label="Enable Tasks Due Time", checked=settings.tasks_due_ts_enabled) }}
                <br>
            </blockquote>
            <br>
        {% endif %}
        {{ input_macros.checkbox_field(name="calendar_events_enabled", label="Enable Calendar Events", checked=settings.calendar_events_enabled) }}
        <br>
        {% if settings.calendar_events_enabled %}
            <blockquote>
                {{ input_macros.checkbox_field(name="calendars_enabled", label="Enable Calendars", checked=settings.calendars_enabled) }}
                <br>
            </blockquote>
            <br>
        {% endif %}
        {{ input_macros.checkbox_field(name="trackers_enabled", label="Enable Trackers", checked=settings.trackers_enabled) }}
        <br>
        <br>
        <button type="submit">ok</button>
{% endblock %}