{% extends "layout.html" %}

{% block content %}
    <h1>Motherfucking Productivity</h1>

    Yo! Look at this shit. It's a productivity system. It's everything that you've ever wanted. It has tasks that you
    can import from <a target="_blank" href="http://todotxt.org">todo.txt</a>. It has calendars, notes, activities and
    automatic motherfucking trackers. You can set your shitty goals here and track them. What else do you need?!</p>

    <h2>Simple motherfucker, do you speak it?!</h2>
    This shit is simple It has no fancy ass styling or big as yo mama <h1 style="display: inline;">Hi</h1> with a video
    of successful people doing their successful shit. It's pure and simple.

    <blockquote>If you can't do with it Motherfucking Productivity, you just like productivity porn.
        <footer>
            <cite>The imbicile behind this crappy webapp.</cite>
        </footer>
    </blockquote>

    <h2>FAQ U</h2>
    <ul>
        <li>What is this?</li>
        <ul>
            <li>Open-source productivity system for mostly hackers <a href="https://gitlab.com/pisquared/mafkingprod" target="_blank">RTFM</a></li>
        </ul>
        <li>How do I pronounce this website name?</li>
        <ul>
            <li>Maf King Prod. Mafkingprod.</li>
        </ul>
        <li><a href="http://motherfuckingwebsite.com/" target="_blank">motherfuckingwebsite.com</a>?</li>
        <ul>
            <li>More like <a href="https://bestmotherfucking.website/">bestmotherfucking.website</a></li>
        </ul>
        <li>I am offended</li>
        <ul>
            <li>Get the fuck out of here.</li>
        </ul>
    </ul>

    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
    <h2>{{ _('Register') }}</h2>
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}
        {{ render_field(register_user_form.submit) }}
    </form>
{% endblock %}