<blockquote>
    <cite style="float:left; margin-right: 10px;">{{ inbox_entry.created_ts|to_user_tz|format_dt("%H:%M") }}</cite>
    <small style="float: left;">
        [
        {% if not inbox_entry.is_processed %}
            {% if ctx.user_settings.tasks_enabled %}
                <a href="/inbox-entries/{{ inbox_entry.id }}/transform/task">task</a> |
            {% endif %}
            <a href="/inbox-entries/{{ inbox_entry.id }}/process">done</a>
        {% else %}
            {% if inbox_entry.processed_type %}
                <a href="/{{ inbox_entry.processed_type|pluralize }}">
                    {{ inbox_entry.processed_type }}
                </a> |
            {% endif %}
            <a href="/inbox-entries/{{ inbox_entry.id }}/process">not done</a>
        {% endif %}
        ]
    </small>
    <span style="float: right;">
        [
        <a href="/inbox-entries/{{ inbox_entry.id }}/edit" title="edit">e</a> |
        <a href="/inbox-entries/{{ inbox_entry.id }}/archive" title="archive">a</a>
        ]
    </span>
    <div style="clear:both;"></div>
    <p>
        {% if inbox_entry.is_processed %}
            <div style="text-decoration: line-through;">
        {% endif %}
        {{ inbox_entry.body|markdown }}
        {% if inbox_entry.is_processed %}
            </div>
        {% endif %}
    </p>
</blockquote>
