{% extends "layout.html" %}
{% block content %}
<form action="/tracker_sessions/{{ tracker_session.id }}/edit" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="tracker_session-title">Tracker_session: </label>
    <a href="/tracker_sessions/{{ tracker_session.id }}/delete">x</a>
    <input autofocus type="text" id="tracker_session-title" name="title" class="main-input"
           placeholder="your thing" minlength=1 required
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
           value="{{ tracker_session.title }}"
    />
    <textarea id="tracker_session-entry-body" name="body" rows="12" class="main-input"
              placeholder="more description"
              onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
    >{{ tracker_session.body if tracker_session.body else ''}}</textarea>
    <button>submit</button>
</form>
{% endblock %}
