<div style="vertical-align: top; margin-bottom: 10px;">
    <form action="/tracker-sessions/{{ tracker_session.id }}/done" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="tracker_session">
            <span style="float: right;">
                [
                <a href="/tracker-sessions/{{ tracker_session.id }}/edit" title="edit">e</a> |
                <a href="/tracker-sessions/{{ tracker_session.id }}/delete" title="delete">x</a>
                ]
            </span>
            <p>[{{ tracker_session.tracker.title }}] {{ tracker_session.tracker.thing_k }} = {{ tracker_session.title }}<br>
                <small>{{ tracker_session.started_ts }} - {{ tracker_session.finished_ts }}</small>
                <br>
                {% for i in [1,2,3] %}
                    {% set metric_k = tracker_session.tracker["metric_%s_k"|format(i)] %}
                    {% if metric_k %}
                        <small>{{ metric_k }}: {{ tracker_session["metric_%s_v"|format(i)] }}</small><br>
                    {% endif %}
                {% endfor %}
                {% if tracker_session.meta != "{}" %}
                    <small>{{ tracker_session.meta }}</small><br>
                {% endif %}
        </div>
    </form>
</div>