<div>
    <div class="project">
            <span style="float: right;">
                [
                <a href="/projects/{{ project.id }}/edit" title="edit">e</a> |
                {% if project.archived %}
                    <a href="/projects/{{ project.id }}/unarchive" title="unarchive">u</a> |
                    <a href="/projects/{{ project.id }}/delete" title="delete">x</a>
                {% else %}
                    <a href="/projects/{{ project.id }}/archive" title="archive">a</a>
                {% endif %}
                ]
            </span>
        {{ project.title }}
    </div>
</div>