{% extends "layout.html" %}
{% block content %}
<form action="/projects/{{ project.id }}/edit" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="project-title">Project: </label>
    <a href="/projects/{{ project.id }}/delete">x</a>
    <input autofocus type="text" id="project-title" name="title" class="main-input"
           placeholder="your thing" minlength=1 required
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
           value="{{ project.title }}"
    />
    <textarea id="project-entry-body" name="body" rows="12" class="main-input"
              placeholder="more description"
              onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
    >{{ project.body if project.body else ''}}</textarea>
    <button>submit</button>
</form>
{% endblock %}
