<div style="vertical-align: top; margin-bottom: 10px;">
    <form action="/trackers/{{ tracker.id }}/done" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="tracker">
            <span style="float: right;">
                [
                <a href="/trackers/{{ tracker.id }}/edit" title="edit">e</a> |
                <a href="/trackers/{{ tracker.id }}/delete" title="delete">x</a>
                ]
            </span>
            <p>[{{ tracker.title }}] {{ tracker.thing_k }}<br>
                <small>id: {{ tracker.id }} | api key: {{ tracker.api_key }}</small><br>
                <small>
                {% for i in [1,2,3] %}
                    {% set metric_k = tracker["metric_%s_k"|format(i)] %}
                    {% if metric_k %}
                        [{{ i }}] {{ metric_k }}: {{ tracker["metric_%s_t"|format(i)].value }}<br>
                    {% endif %}
                {% endfor %}
                </small>
            </p>
        </div>
    </form>
</div>