{% extends "layout.html" %}
{% block content %}
<form action="/trackers/{{ tracker.id }}/edit" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="tracker-title">Tracker: </label>
    <a href="/trackers/{{ tracker.id }}/delete">x</a>
    <input autofocus type="text" id="tracker-title" name="title" class="main-input"
           placeholder="your thing" minlength=1 required
           onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
           value="{{ tracker.title }}"
    />
    <textarea id="tracker-entry-body" name="body" rows="12" class="main-input"
              placeholder="more description"
              onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
    >{{ tracker.body if tracker.body else ''}}</textarea>
    <button>submit</button>
</form>
{% endblock %}
