<div style="vertical-align: top; margin-bottom: 10px;">
    <form action="/metrics/{{ metric.id }}/done" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="metric">
            <span style="float: right;">
                [
                <a href="/metrics/{{ metric.id }}/edit" title="edit">e</a> |
                <a href="/metrics/{{ metric.id }}/delete" title="delete">x</a>
                ]
            </span>
            <p>{{ metric.title }}: {{ metric.aggregate_format }}<br>
                <small>{{ metric.aggregate_func.value }} of {{ metric.aggregate_by.value }} for "{{ metric.filter_by }}"</small>
            </p>
        </div>
    </form>
</div>